<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Framework">
  <test thread-count="5" name="DataDriven">
    <classes>
      <class name="DriverFactory.DataDrivenScript"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="hybrid">
    <classes>
      <class name="DriverFactory.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Framework -->
